<div class="container" ng-controller="TodoCtrl as todo">
  <div class="jumbotron">
    <h1 align="center">Todo Application</h1>
    <br>

    <div id="todo-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form ng-submit="addTodo()">
          <input type="text" placeholder="Add Todo!" ng-model="value" />
          <input type="submit" value="Add"/>
        </form>
      </div>
    </div>
  </div>
  <div id="todo-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="checkbox" ng-repeat="singleTodo in todos">
        <label>
          <input type="checkbox" ng-click="todo.removeTodo(singleTodo)">
          {{ singleTodo.value }}
        </label>
        <button ng-click="removeTodo(singleTodo)">Remove</button>
      </div>
    </div>
  </div>
</div>
